
<html>
<head>
<title>Login   </title>

</head>

<body>
   <h3>Hi</h3>
<div class="login">
<h3>Login to your account</h3>
<form [formGroup]="loginForm">

  <div class="form-group">
    <div class="user-input">
<label for="email">Email Address</label><br/>
<input type="email" id="email" 
formControlName="email"
class="form-control">
<br/>
<span *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched ">Please enter valid email !</span><!--Get control on my form -->

 

<br/>
  <div class="form-group">
<label for="password">Password</label><br/>
<input type="text" id="password" 
formControlName="password" 
class="form-control">
<br/>
<span *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched ">Please enter valid password !</span><!--Get control on my form -->
  </div>
</div>

<br/>
<div class="remember">
  <label><input type="checkbox" name=""> Remember me </label>
</div>
</div>
<br/>
<button class="btn btn-default" type="button"> Sign in </button>


</form>
</div>





</body>
</html>